$red: #9d261d;
$blue: #2e8aea;
$orange: #df7f48;

@mixin icon-add() {
    .icon-add {
        border-radius:50%;
        font-size:16px;
        color:#5f5f5f;
        padding: 4px 7px 4px 7px;
        display: inline-block;
        cursor: pointer;
        background: #ffffff;
        border: 1px solid #b6b6b6;
        text-decoration: none;

        &:hover {
            background: $blue;
            color: white;
            border-color: $blue;
            text-decoration:none;
        }
    }
}

.tabulate {

    display:inline-block;

    .umb-nav-tabs {
        position:relative;
    }

    &.no-settings {
        
        table, input, .sort-btn, .clear-btn { opacity:.25; }

        tr:not([class*="add-row"]) { display:none; }

        .settings-btn {
            background:$blue;
            color:#fff;
            -webkit-animation: pulse 1s infinite;
            -moz-animation: pulse 1s infinite;
            -o-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
        }

        .clear-btn, .icon-add {
            cursor:default;            
            &:hover {
                background:#f2f2f2;
                border-color:#ccc;
                color:#000;
            }
        }

        .icon-add:hover {
            background:#fff;
            color:#5f5f5f;
        }
    }

    &.settings {

        top:88px;

        tr, td { border:none; }

        input[type="text"] {
            margin-bottom:0;
            width:150px;

            &[name*="label"] {
                width:calc(100% - 30px);
            }
        }

        select {
            width:110px;
            margin-bottom:0;
        }

        textarea {
            width:396px;
            margin-top:30px;
            border:2px solid #ddd;
            border-radius:0;
            margin-bottom:0;
        }

        .umb-nav-tabs {
            margin:0;
            padding:10px 10px 0;
            background:#f8f8f8;
        }

        .umb-tab-pane { padding-bottom:0; }

        .import-btn {
            margin:2px -2px 0 0;
            display:block;
            float:right;
        }

        .download-wrapper, .export-type, .import-wrapper {
            float:left;
            background:#eee;

        }

        .export-type {
            padding:2px 2px 2px 4px;
            border:2px solid #ddd;
            border-bottom:0;
            border-radius:0;
            border-top-left-radius: 2px;
            border-top-right-radius:2px;
        }

        .dropdown > button {
            border:none;
        }

        .dropdown-menu {
            border-radius:0;
            margin-top:0;
            padding:0;
            min-width:0;
            width:calc(100% - 4px);
            border:2px solid #ddd;
            border-top:none;

            button {
                width:100%;
                border:none;
            }
        }
    }

    &.edit-row {

        overflow-y:scroll;
        top:88px;

        input[type="text"] {
            width:361px;
        }

        .buttons {
            margin-bottom:60px;
        }

        .umb-control-group {
            border:none;
            padding-bottom:0;
        }
    }

    &.map-row {
        overflow:hidden;

        section {
            padding:88px 0 0;
            height:100%;
        }

        #map {
            z-index:1;
        }

        .umb-pane, #map {
            height:100%;
            width:100%;
        }

        .buttons {
            bottom:60px;
            right:15px;
            position:absolute;
            z-index:2;
        }
    }

    &.wide {
        width:100%;

        table {
            width: calc(100% - 146px);
        }
    }

    header {
        background:#1d1d1d;
        padding:20px 15px 5px;
        margin:0;
        color:#d9d9d9;
        position:fixed;
        top:0;
        width:100%;

        h3 { 
            font-size:18px;
            margin:0 0 15px 0;
            line-height:1;
        }
        h3 span{ 
            color: $orange; 
            line-height:1;
            float:left;
            margin:-1px 3px 0 -4px;
            font-size:20px;
        }

        h4 {
            text-transform:uppercase;
            font-size:18px;
        }
    }

    section { padding:15px; }

    table {
        margin:0 0 15px;
        width:312px;

        .view-row:hover {
            background:$blue;
            color:#fff;
        }
    }

    tr {
        border:1px solid #eee;
        border-left:none;
        border-right:none;   

        &:hover {
            cursor:pointer;

            .control-btns span { display:inline-block; }
        }

        &.disabled { opacity:.25; }
    }

    p:last-child { margin-top:10px; }

    input[type="text"] {
        margin-bottom:15px;
        width:300px;
    }

    textarea {
        width:300px;
        height:100px;
        display:block;
    }

    label {
        cursor:default;
        font-size: 13px;
        font-weight: bold;
        color: #b3b3b3;
        text-transform: uppercase;
    }

    .property-label { font-weight: bold;}

    .labels { padding:5px 15px 5px 5px; }

    .control-btns {
        width:75px;
        margin:0;
        text-align:right;
        font-size:0;
        height:32px;

        span {
            display:none;
            cursor:pointer;
            font-size:14px;
            padding:5px;

            &:hover {
                background:#eee;
            }
        }
    }

    .controls-wrapper {
        float:right;
        margin-left:15px;
        padding-left:15px;
        border-left:1px solid #eee;
        width: 115px;
    }

    .clear-btn,
    .settings-btn {
        float:left;
        clear:both;
        margin-bottom:5px;
        text-align:left;
        width:71px;
        top:100px;
        border-radius:0;

        &:hover {
            color:white;
        }

        &.disabled {
            cursor:default;
        }
    }

    .clear-btn { 
        &:hover {
            background: $red;
            border-color: $red;
        }
    }

    .settings-btn { 
        &:hover {
            background: $blue;
            border-color: $blue;
        }
    }

    .buttons { 
        text-align: right; 
        padding-top:90px;
    }

    .add-row {
        text-align:center;
        max-width:calc(100% - 146px);
        margin-bottom:15px;
    }
    
    .next-btn,
    .prev-btn {
        padding:5px;
        cursor:pointer;

        &.disabled {
            opacity:.5;
            cursor:default;
        }
    }
    
    .half-width { 
        width:50%; 
        float:left;
        margin-bottom:15px;
    }
    .no-result { display:block; }
    .umb-pane { margin:0; }

    .geocoded-property {
        padding:10px;
        background:#f8f8f8;
        max-width:354px;
        margin-bottom:15px;
        position:relative;

        label:last-child {
            margin-bottom:0;
        }

        .icon-map {
            position:absolute;
            top:5px;
            right:15px;
            font-size:30px;

            &:before {
                line-height:57px;
            }

            &:hover {
                color:$blue;
                cursor:pointer;
            }
        }
    }

    @include icon-add();

    .icon-delete {
        &:hover { color:$red; }
    }

    .icon-power {
        &:hover { color:$blue; }
    }

    .icon-navigation {
        &:hover { color:$blue; }
    }

    [for*="sort-order"], [for*="per-page"] {
        margin-top:15px;
    }

    [name*="per-page"] {
        width:50px;
    }
}

.mappings-pane {
    
    text-align:center;

    .control-group, p {
        text-align:left;
    }

    table {
        width:100%;
    }
}

@-webkit-keyframes pulse {
  0% {
    box-shadow:none; }

  50% {
    box-shadow:2px 2px #ccc; }

  100% {
    box-shadow:none; } }

@-moz-keyframes pulse {
  0% {
    box-shadow:none; }

  50% {
    box-shadow:2px 2px #ccc; }

  100% {
    box-shadow:none; } }

@keyframes pulse {
  0% {
    box-shadow:none; }

  50% {
    box-shadow:2px 2px #ccc; }

  100% {
    box-shadow:none; } }