<div class="tabulate edit-row" ng-controller="Tabulate.DialogController">

    <div class="control-group umb-control-group" ng-repeat="c in model.config.columns track by $index">
        <div class="umb-el-wrap">
            <label class="control-label" ng-bind="c.displayName"></label>
            <div class="controls">
                <input type="text" ng-model="model.data[c.displayName]" ng-if="c.type === 'string'" ng-model-options="{ debounce: 400 }" />

                <textarea ng-model="model.data[c.displayName]" ng-if="c.type === 'textarea'"></textarea>

                <div ng-if="c.type === 'rte'" ng-init="model.rte[c.displayName] = property(c.displayName)">
                    <umb-property property="model.rte[c.displayName]">
                        <umb-editor model="model.rte[c.displayName]"></umb-editor>
                    </umb-property>
                </div>

                <div ng-if="c.displayName === 'Address' && _AddressLat !== undefined" class="geocoded-property">
                    <label><strong>Latitude:</strong> {{_AddressLat}}</label>
                    <label><strong>Longitude:</strong> {{_AddressLng}}</label>
                    <span class="icon icon-map" name="View on map" ng-click="viewLocation()"></span>
                </div>
            </div>
        </div>
    </div>

</div>