<div class="tabulate" ng-controller="Tabulate.Controller as vm" ng-class="{'no-settings': vm.noConfig, 'wide' : model.config.wide}">
    <div class="controls-wrapper">
        <button class="settings-btn btn btn-default" ng-click="vm.openSettings()" ng-hide="vm.mapsLoaded === 'show' || vm.hideSettings" prevent-default>
            <span class="icon icon-wrench"></span> Settings
        </button>
        <button class="clear-btn btn btn-default" ng-click="vm.noConfig || vm.clearModel()" prevent-default>
            <span class="icon icon-trash"></span> Clear all
        </button>
    </div>
    <input type="text" ng-model="vm.pagination.search" ng-show="model.data.length > model.config.numPerPage" ng-disabled="vm.noConfig" ng-change="vm.setPaging()" placeholder="Filter" no-dirty-check />
    <span class="no-result" ng-if="vm.noResults">No results found for search term '{{vm.pagination.search}}'</span>

    <div ui-sortable="vm.sortOptions" ng-model="vm.pagination.items" ng-hide="vm.noConfig">
        <div class="umb-node-preview umb-node-preview--sortable ui-sortable-handle" ng-class="{'disabled' : o.disabled}" ng-repeat="o in vm.pagination.items track by $index">
            <div class="umb-node-preview__content">
                <div class="umb-node-preview__name" ng-bind="o._label" ng-model="o._label"></div>
            </div>
            <div class="umb-node-preview__actions">
                <a class="umb-node-preview__action" title="Edit" href="" ng-click="vm.editRow(o._id)"><localize key="general_edit">Edit</localize></a>
                <a class="umb-node-preview__action" title="Disable" href="" ng-click="vm.disableRow(o._id)">Disable</a>
                <a class="umb-node-preview__action umb-node-preview__action--red" title="Remove" href="" ng-click="vm.removeRow(o._id)"><localize key="general_remove">Remove</localize></a>
            </div>
        </div>
    </div>

    <div class="add-row" ng-show="!vm.noConfig">
        <a class="umb-node-preview-add" ng-click="vm.addRow()" title="Add">
            <localize key="general_add">Add</localize>
        </a>
    </div>

    <umb-pagination ng-if="vm.pagination.totalPages > 1"
                    page-number="vm.pagination.pageNumber"
                    total-pages="vm.pagination.totalPages"
                    on-next="vm.goToPage"
                    on-prev="vm.goToPage"
                    on-go-to-page="vm.goToPage">

    </umb-pagination>

    <umb-overlay ng-if="vm.overlay.show"
                 model="vm.overlay"
                 view="vm.overlay.view"
                 position="right">
    </umb-overlay>

</div>

