<div class="tabulate edit-row umb-dialog" ng-controller="Tabulate.DialogController">
    <div class="umb-pane">
        <header>
            <h3>
                <span class="icon-forms-table"></span>
                Tabulate
            </h3>
            <h4>{{dialogData.type === 'add' ? 'Add' : 'Edit'}} row</h4>
        </header>
        <section>
            <div ng-repeat="c in dialogData.config.columns track by $index">
                <label class="property-label">{{c.displayName}}</label>
                <input type="text" ng-model="dialogData.data[c.displayName]" ng-if="c.type === 'string'" ng-model-options="{ debounce: 400 }" />
                <textarea ng-model="dialogData.data[c.displayName]" ng-if="c.type === 'textarea'" />
                <div ng-if="c.type === 'rte'" ng-init="rte[c.displayName] = property(c.displayName)">
                    <umb-property property="rte[c.displayName]">
                        <umb-editor model="rte[c.displayName]"></umb-editor>
                    </umb-property>
                </div>
                <div ng-if="c.displayName === 'Address' && _AddressLat !== undefined" class="geocoded-property">
                    <label><strong>Latitude:</strong> {{_AddressLat}}</label>
                    <label><strong>Longitude:</strong> {{_AddressLng}}</label>
                    <span class="icon icon-map" name="View on map" ng-click="viewLocation()"></span>
                </div>
            </div>
            <div class="buttons">
                <button ng-click="save()" data-hotkey="ctrl+s" class="btn btn-success">
                    <localize key="buttons_save">Update</localize>
                </button>
                <button ng-click="close()" data-hotkey="ctrl+x" class="btn btn-default">
                    Cancel
                </button>
            </div>
        </section>
    </div>
</div>