<div class="tabulate" ng-controller="Tabulate.Controller as vm" ng-class="{'no-settings': vm.noConfig, 'wide' : model.config.wide}">
    <div class="controls-wrapper">
        <a class="settings-btn btn btn-default" ng-click="vm.openSettings()" ng-hide="vm.mapsLoaded === 'show' || vm.hideSettings" stop-event>
            <span class="icon icon-wrench"></span> Settings
        </a>
        <a class="clear-btn btn btn-default" ng-click="vm.noConfig || vm.clearModel()" stop-event>
            <span class="icon icon-trash"></span> Clear all
        </a>
    </div>
    <input type="text" ng-model="vm.paging.search" ng-show="model.data.length > model.config.numPerPage" ng-disabled="vm.noConfig" ng-change="vm.setPaging()" placeholder="Filter" no-dirty-check />
    <span class="no-result" ng-if="vm.noResults">No results found for search term '{{vm.paging.search}}'</span>
    <table>
        <tbody ng-model="vm.paging.items" ui-sortable="vm.sortOptions">
            <tr class="view-row"
                ng-hide="vm.noConfig"
                ng-repeat="o in vm.paging.items track by $index"
                ng-class="{'disabled': o.disabled}"
                ng-click="vm.editRow(o._id)">
                <td class="labels">
                    <span ng-model="o._label" ng-bind="o._label"></span>
                </td>
                <td class="control-btns">
                    <span ng-show="vm.manualSort" class="icon icon-navigation sort-btn" title="Sort" stop-event></span>
                    <span class="icon icon-power" ng-click="vm.disableRow(o._id)" title="Disable" stop-event></span>
                    <span class="icon icon-delete" ng-click="vm.removeRow(o._id)" title="Delete" stop-event></span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="add-row" ng-show="!vm.noConfig">
        <span class="icon icon-previous next-btn" ng-click="vm.page(false)" ng-class="{'disabled': vm.paging.currentPage === 1}" ng-show="vm.paging.numPages > 1" title="Previous page"></span>
        <span class="btn icon icon-add" ng-click="vm.addRow()" title="Add"></span>
        <span class="icon icon-next prev-btn" ng-click="vm.page(true)" ng-class="{'disabled': vm.paging.currentPage === vm.paging.numPages}" ng-show="vm.paging.numPages > 1" title="Next page"></span>
    </div>
</div>

