<umb-editor-view>
    <umb-editor-header name="model.title"
                       name-locked="true"
                       hide-alias="true"
                       hide-icon="true"
                       hide-description="true">
    </umb-editor-header>
    <umb-editor-container>
        <umb-box>
            <umb-box-content>
                <form novalidate val-form-manager class="tabulate edit-row form-horizontal" ng-controller="Tabulate.Dialog.Controller as vm">
                    <umb-property property="r" alias="{{ r.alias }}" ng-repeat="r in vm.$scope.model.renderModel" data-type="{{ r.inputType }} ">
                        <umb-property-editor model="r" ng-if="r.inputType === 'rte' || r.inputType === 'date'"></umb-property-editor>

                        <input type="{{ r.inputType }}" ng-value="r.value" ng-model="r.value" ng-if="!['linked', 'rte', 'date'].includes(r.inputType) && r.label !== 'Address'" />

                        <div ng-if="r.label === 'Address'" class="geocoded-property">
                            <label><strong><localize key="tabulate_latitude"></localize>:</strong> {{ vm.$scope.model.data.lat }}</label>
                            <label><strong><localize key="tabulate_longitude"></localize>:</strong> {{ vm.$scope.model.data.lng }}</label>
                            <button class="btn btn-default" ng-click="vm.viewLocation()" type="button">
                                <umb-icon icon="icon-map"></umb-icon>
                                <localize key="tabulate_updateAddressCoords"></localize>
                            </button>
                        </div>

                        <div ng-if="r.inputType === 'linked'" class="linked-column-wrapper">
                            <input type="text"
                                   id="typeahead_{{ vm.safeName(r.label) }}"
                                   class="umb-property-editor"
                                   ng-model="r.value" />
                        </div>
                    </umb-property>
                </form>
            </umb-box-content>
        </umb-box>
    </umb-editor-container>
    <umb-editor-footer>
        <umb-editor-footer-content-right>
            <umb-button type="button"
                        button-style="link"
                        label-key="general_close"
                        action="model.close()">
            </umb-button>

            <umb-button type="button"
                        button-style="success"
                        label-key="general_submit"
                        action="model.submit(model)">
            </umb-button>
        </umb-editor-footer-content-right>
    </umb-editor-footer>
</umb-editor-view>
