@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Content>

@using Clean.Core.Models.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core.Models.Blocks;
@using Tabulate.Models;

@{
    Layout = "master.cshtml";
}

@await Html.PartialAsync("~/Views/Partials/pageHeader.cshtml", new PageHeaderViewModel(Model.Name, Model.Title, Model.Subtitle, Model.MainImage))

<article>
    @{
        var blocks = Model.Blocklist.Select(x => x.Content).OfType<TabulateBlock>();
        
        foreach (var block in blocks)
        {

         <table>
            <tr>
                @foreach(var h in block.Table.Headers) {
                    <th>
                        @h.Name (@h.Type)
                    </th>
                }   
            </tr>
            
            @foreach(var row in block.Table.Rows) {
                <tr>
                    @foreach (var cell in row.Cells) {
                        <td>@cell</td>    
                    }
                </tr>
            }
        </table>
        }
    }

</article>
